.card-nota {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: rgb(231, 228, 44);
  border-radius: 4px;
  flex-wrap: wrap;
  box-shadow: 0 8px 6px rgba(0, 0, 0, 0.06);
  text-shadow: 0 0px 3px rgb(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(53, 53, 53);
  padding: 16px;
}

.card-nota_cabecalho {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-nota_cabecalho-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  font-size: 12px;
  font-weight: bold;
  color: rgb(96, 174, 247);


  text-shadow: 0px 0px 3px rgb(255, 255, 255, 0.5);

}

.card-nota_icon {
  fill:rgb(53, 53, 53);
}

.card-nota_icon:hover {
  fill: red;
  transition: fill 0.25s;
}

.card-nota_icon:active {
  fill: rgb(255, 147, 147);
}

.card-nota_texto {
  margin-top: 8px;
  font-size: 1em;
}

.card-nota_titulo {
  font-size: 1.2em;
  margin-right: 12px;
}