.form-cadastro {
  flex-grow: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 12px 40px;
  background-color: rgb(43, 43, 43);
  font-family: consolas;
}

.form-cadastro_input {
  margin-top: 8px;
  padding: 4px;
  border: none;
  background-color: rgb(24, 24, 24);
  font-weight: 100;
  color: rgb(99, 236, 45);
}

.form-cadastro_submit {
  align-self: flex-end;
  padding: 10px;
  width: 40%;
  background-color:rgb(47, 125, 170);
  border-radius: 4px;
  color: white;
  font-weight: 400;
  cursor: pointer;
  transition: all color 2s;
}

.form-cadastro_submit:hover {
  background-color: rgb(80, 141, 177);
}

.form-cadastro_submit:active {
  background-color: rgb(33, 70, 150);
}
